@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Subset";
  src: url("/fonts/Inter-Subset.woff2") format("woff2");
  /* Covers the full variable range if your source was Inter Variable */
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-mono-nums: "Inter", "Poppins", sans-serif; /* Monospaced numbers */

  --default-border-width: 1.5px;
  --text-default: var(--color-gray-800);
  --border-default: var(--color-gray-800);

  --text-2xs: 0.625rem;
  --text-2xs--line-height: 0.875rem;

  --animate-scale-in: scale-fade-in 0.08s ease-out forwards;
  --animate-scale-out: scale-fade-out 0.08s ease-in forwards;

  @keyframes scale-fade-in {
    0% {
      opacity: 0;
      transform: scale(0.96);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scale-fade-out {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.96);
    }
  }
}

.dark {
  --text-default: var(--color-gray-100);
  --border-default: var(--color-gray-600);
}

/* Mono font for numbers in table */
@layer base {
  td,
  th {
    font-family: var(--font-mono-nums);
    font-variant-numeric: tabular-nums;
  }

  * {
    border-color: var(--border-default);
  }

  body {
    color: var(--text-default);
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.aurora-gradient {
  background-color: hsla(0, 100%, 50%, 1);
  background-image:
    radial-gradient(at 83% 10%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 3% 38%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 88% 63%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(258, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 27% 16%, hsla(285, 100%, 70%, 1) 0px, transparent 50%);
}
