@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");

/* Inter, but only 0-9 and punctuation */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..900&text=0123456789%24%25%2C%2E%2B%2D&display=swap");

@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: Supported by tailwind */
@custom-variant dark (&:where(.dark, .dark *));

/* biome-ignore lint/suspicious/noUnknownAtRules: Supported by tailwind */
@theme {
  --font-sans: "Poppins", sans-serif;
  --font-mono-nums: "Inter", "Poppins", sans-serif; /* Monospaced numbers */

  --default-border-width: 1.5px;
  --text-default: var(--color-gray-800);
  --border-default: var(--color-gray-800);
}

.dark {
  --text-default: var(--color-gray-100);
  --border-default: var(--color-gray-600);
}

/* Mono font for numbers in table */
@layer base {
  td,
  th {
    font-family: var(--font-mono-nums);
    font-variant-numeric: tabular-nums;
  }

  * {
    border-color: var(--border-default);
  }

  body {
    color: var(--text-default);
  }
}

/* biome-ignore lint/suspicious/noUnknownAtRules: Supported by tailwind */
@utility no-scrollbar {
  /* biome-ignore lint/suspicious/noUnknownAtRules: Supported by tailwind */
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.aurora-gradient {
  background-color: hsla(0, 100%, 50%, 1);
  background-image:
    radial-gradient(at 83% 10%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 3% 38%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 88% 63%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(258, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 27% 16%, hsla(285, 100%, 70%, 1) 0px, transparent 50%);
}
