@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import 'tailwindcss';

@theme {
	--font-sans: "Poppins", sans-serif;
	--default-border-width: 1.5px;
}

.aurora-gradient {
	background-color: hsla(0, 100%, 50%, 1);
	background-image:
		radial-gradient(at 83% 10%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
		radial-gradient(at 3% 38%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
		radial-gradient(at 88% 63%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
		radial-gradient(at 80% 100%, hsla(258, 100%, 70%, 1) 0px, transparent 50%),
		radial-gradient(at 27% 16%, hsla(285, 100%, 70%, 1) 0px, transparent 50%);
}
